{% extends "base.html" %}
{% block titulo %}Sobre{% endblock %}
{% block conteudo %} 
<!-- CONTENT -->
      <div class="container">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">

              <h1>Sobre o Progest</h1>
              <p> O PROGEST é um Grupo de Pesquisa do CEFET-MG certificado desde 2008 pelo CNPq. Atualmente são duas as suas atividades básicas: a pesquisa, representada pelos projetos que desenvolve, e a divulgação do conhecimento científico que ocorre especialmente no Simpósio Internacional Trabalho, Relações de Trabalho, Educação e identidade.

                Objetivos:
                
                Produzir pesquisas nos campos do ensino da engenharia, da gestão da produção e do trabalho;
                Possibilitar a troca de conhecimentos entre trabalhadores da Construção Civil e estudantes do curso de Engenharia de Produção Civil;
                Levar aos trabalhadores os conhecimentos relativos à gestão da produção e da qualidade e a sua importância para os trabalhos de canteiros;
                Desenvolver nos alunos as habilidades de gestão da produção;
                Tornar o magistério uma opção profissional para os alunos da engenharia;
                Sensibilizar os alunos para os problemas sociais, comprometendo-os com a busca de alternativas de melhoria de vida da população;
                Divulgação do conhecimento e a promoção de uma rede nacional e internacional de intercâmbio de professores, alunos e pesquisadores.
                </p>
            </div>

        </div>
      </div>
{% endblock %}
